

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  



*{
    margin:0;
    padding:0;
}

body{
    background-color: FFFFF;
    
}

.container{
    max-width: 1440px;
    margin:0 auto;
    padding: 0 15px;
    background-color: #FFFFFF;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 100px;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-list li a{
    color:black;
    text-decoration: none;
    font-size: 15px;
}

.btn{
    background-color: #1B1A1A;
    color: white;
    border: none;
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
}

.navigation{
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.title{
    margin-left: 100px;
}

.hero-section{
  display: flex;
  background-color: #ECE7E4;
}

.description{
  width:50%;
}

.logo{
  color: #645C55;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 150px 100px 0px;
}

h1{
  color: #1B1A1A;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  line-height: 70.4px;
  margin: 30px 100px 0px;
}

.paragraph{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #403E3B;
  font-size: 16px;
  line-height: 24px;
  margin: 30px 100px 0px;
}

.more-info-btn{
  border: none;
  background-color: transparent;
  color:#1B1A1A;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  margin: 30px 120px 0px;
}

.our-film{
  max-width: 1440px;
  margin:0 auto;
  padding: 0 15px;
  background-color: #FFFFFF;
}

.film{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #403E3B;
  font-size: 32px;
  line-height: 38px;
  margin: 100px 200px;
}

.our-film{
  display: flex;
  color:#403E3B;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.paragraphs{
  margin-top: 100px;
  margin-left: 50px;
  flex: 0 0 70%;
}

.paragraphs p{
  margin: 20px 0;
}